<tr>
  <th class="w-25">氏名</th>
  <td class="w-25"><%= f.text_field :last_name, class: "form-control" %></td>
  <td class="w-25"><%= f.text_field :first_name, class: "form-control" %></td>
  <td class="w-25"></td>
</tr>
<tr>
  <th class="w-25">フリガナ</th>
  <td class="w-25"><%= f.text_field :kana_last_name, class: "form-control" %></td>
  <td class="w-25"><%= f.text_field :kana_first_name, class: "form-control" %></td>
</tr>
<tr>
  <th class="w-25">郵便番号</th>
  <td class="w-25"><%= f.text_field :postal_code, class: "form-control" %></td>
</tr>
<tr>
  <th class="w-25">住所</th>
  <td class="w-25"><%= f.text_field :address, class: "form-control" %></td>
</tr>
<tr>
  <th class="w-25">電話番号</th>
  <td class="w-25"><%= f.text_field :phone_numbre, class: "form-control" %></td>
</tr>
<tr>
  <th class="w-25">メールアドレス</th>
  <td class="w-25"><%= f.text_field :email, class: "form-control" %></td>
</tr>
