<div class="container">
  <div class="row">
    <div class="col">
      <h5>登録情報</h5>
      <%= link_to edit_customers_path do %>
        <span class="btn btn-sm btn-success d-inline px-3" style="font-weigth: bold;">編集する</span>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>マイページ</h1>
      <table class="table table-bordered border-dack">
        <tr>
          <th>氏名</th>
          <td class="table-active w-25"><%= @customer.full_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td class="table-active"><%= @customer.kana_full_name %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td class="table-active"><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td class="table-active"><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td class="table-active"><%= @customer.phone_numbre %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td class="table-active"><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5>配送先</h5>
      <%= link_to addresses_path do %>
        <span class="btn btn-sm btn-primary d-inline px-3" style="font-weigth: bold;">一覧を見る</span>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5>注文履歴</h5>
      <%= link_to orders_path do %>
        <span class="btn btn-sm btn-primary d-inline px-3" style="font-weigth: bold;">一覧を見る</span>
      <% end %>
    </div>
  </div>
</div>