<div class="container">
  <div class="row">
    <div class="col">
      <h4><strong>登録情報</strong></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h4 class="mt-5"><strong>マイページ</strong></h4>
      <%= link_to edit_customers_path do %>
        <span class="btn btn-sm btn-success mt-2 mb-2">編集する</span>
      <% end %>
      <table class="table table-bordered border-dack">
        <tr>
          <th>氏名</th>
          <td class="table-active"><%= @customer.name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td class="table-active"><%= @customer.kana_name %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td class="table-active"><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td class="table-active"><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td class="table-active"><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td class="table-active"><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5>配送先</h5>
      <%= link_to addresses_path do %>
        <span class="btn btn-sm btn-primary">一覧を見る</span>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="mt-2">注文履歴</h5>
      <%= link_to orders_path do %>
        <span class="btn btn-sm btn-primary">一覧を見る</span>
      <% end %>
    </div>
  </div>
</div>