<div class="container">
  <h4><strong>商品詳細</strong></h4>
  <div class="row">
    <div class="col">
      <div class="d-flex flex-row">
        <div>
          <%= image_tag @item.get_item_image(400,400) %>
        </div>
        <table class="table">
          <tr>
            <th>商品名</th>
            <th><%= @item.name %></th>
          </tr>
          <tr>
            <th>商品説明</th>
            <th><%= @item.description %></th>
          </tr>
          <tr>
            <th>ジャンル</th>
            <th><%= @item.genre.name %></th>
          </tr>
          <tr>
            <th>税込価格<br>(税抜価格)</th>
            <th><%= @item.price_tax_including.to_s(:delimited) %> (<%= @item.price_tax_excluded.to_s(:delimited) %>) 円</th>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <th><%= render "is_on_sale", item: @item %></th>
          </tr>
          <tr>
            <th>在庫数</th>
            <th><%= @item.stock.to_s(:delimited) %> 個</th>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
  </div>
</div>