<div class="container">
  <div class="row">
    <div class="col">
      <h4><strong>配送先登録/一覧</strong></h4>
      <div class="form-group">
        <%= form_with model: @address do |f| %>
          <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
          <%= f.text_field :postal_code, class: "form-control" %>
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class: "form-control" %>
          <%= f.label :name, "宛名" %>
          <%= f.text_field :name, class: "form-control" %>
        <% end %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
              <%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %>
              <%= link_to "削除する", addresses_path(address), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>