<div class="row" style="margin-top: 100px;">
  <h5><strong>関連商品一覧</strong></h5>
</div>
<div>
  <div class="form-group">
    <%= form_with url: item_path, method: :get do |f| %>
      <% selected_genre_id = params[:genre_id].presence || @item.genre_id %>
      <%= f.select :genre_id, Genre.all.map{ |g| [g.name, g.id] }, { selected: selected_genre_id } %>
      <%= f.select :select, [["同じ経(#{itemFiltering.size_sutra})mm", "size_sutra"],["同じ経(#{itemFiltering.size_length})mm", "size_length"]], { selected: params[:select] } %>
      <%= f.submit "検索", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>

<div class="row">
  <% items.each do |item| %>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card border-0 bg-transparent" style="width: 150px;">
      <div class="card-img-top">
        <%= link_to item_path(item) do %>
          <%= image_tag item.get_item_image(150,150) %>
        <% end %>
      </div>
      <div class="card-body">
        <div><%= link_to item.name,  item_path(item), class: "card-title" %></div>
        <div><%= item.price_tax_excluded.to_s(:delimited) %>円(税抜)</div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate items %>
</div>

