<div class="container">
  <h4><strong>商品一覧</strong></h4>
  <span>(全<%= @items.count %>件)</span>
  <div class="row">
    <%= render "search_form"  %>
  </div>
  <div class="row">
    <div class="col-4">
      <%= render "genres_form" %>
    </div>
    <div class="col-8">
      <div class="row mb-5">
        <% @items.each do |item| %>
          <div class="col">
              <div class="card border-0 bg-transparent" style="width: 150px;">
                <div class="card-img-top">
                  <%= link_to item_path(item) do %>
                    <%= image_tag item.get_item_image(150,150) %>
                  <% end %>
                </div>
                  <%= link_to item.name,  item_path(item), class: "card-title" %>
                  <%= item.price_tax_excluded.to_s(:delimited) %>円(税抜)
              </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>