<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-row">
        <div>
          <%= image_tag @item.get_item_image(250,250) %>
        </div>
        <div>
          <h3><%= @item.name %></h3>
          <p><%= @item.description %></p>
          <h5><strong>￥<%= @item.price_tax_including.to_s(:delimited) %></strong></h5>
          <span class="mx-1" style="font-size; 12px">(税込)</span>
          <div class="form-group">
            <%= form_with model: @cart_item, url: cart_items_path do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.select :amount, (1..10).to_a.map{ |q| ["#{q}個", q] }, {} %>
              <%= f.submit "カートに入れる", class: "btn btn-success btn-sm" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "filtering", itemFiltering: @itemFiltering, items: @items %>
</div>